<section class="section background" id="bio">
  <div class="section__title">Bio</div>
  <div class="section__content">
    <p>
      I am a Senior Undergraduate Student in Electrical Engineering with Minor in Computing at the Indian Institute of Technology (IIT) Madras, India.
    </p>

    <p>
      My interests broadly include the fields of Hardware Accelerators, Computer Architecture, Hardware-Software Co-design, and FPGA Architecture. 
    </p>
    <p>My current research as part of my Bachelor's Thesis is on Binary Neural Network Inference on FPGAs under Prof. Nitin Chandrachoodan, IIT Madras and in collaboration with KLA Advanced Computing Labs. I am exploring various FPGA architectures and algorithms, particularly for the U-Net Convolutional Neural Network architecture, in order to alleviate the memory bottleneck problem for semantic segmentation models. I am also working with Prof. Cong "Callie" Hao at Sharc Lab, Georgia Institute of Technology on Approximate Computing for Graph Neural Networks. I replaced floating point multipliers in the graph convolutional networks with various INT8 and INT16 approximate multipliers and employed fine-tuned Quantization-aware training techniques to obtain similar accuracy results compared to FP32, which resulted in a significant reduction in area and power. </p>
    <p>I love to play Basketball and carrom.</p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
