<section class="section background" id="bio">
  <div class="section__title">Bio</div>
  <div class="section__content">
    <p>
      I am currently working as an Engineer at Tenstorrent, focusing on RISC-V hardware design verification. I completed my undergraduate in Electrical Engineering with a minor in Computing at the Indian Institute of Technology (IIT) Madras, India.    </p>
    <p>
      My interests broadly encompass the fields of Hardware Accelerators, Computer Architecture, Hardware-Software Co-design, and FPGA and ASIC Architecture, RISC-V, and VLSI design.
    </p>
    <p>
      I worked as a Student Developer for the Google Summer of Code 2021 program, where I focused on Digital Design and FPGAs, creating virtual FPGA labs using Makerchip. Additionally, I worked with Prof. Nitin Chandrachoodan at IIT Madras on providing a harness-based framework for Rapid FPGA Hardware Prototyping and support for Cloud FPGAs. I also did a research internship at the Georgia Institute of Technology under Prof. Cong "Callie" Hao, working on enabling Approximate Computing on Graph Neural Networks. Furthermore, I gained industry experience during a summer internship with Qualcomm, working with the modem hardware team. I was also a core team member of the Electronics Club at IIT Madras. I led a group of electronics enthusiasts exploring various electronics domains and managing club projects, sessions, and activities.    </p>
    <p>
      My Bachelor Thesis, focused on Binary Neural Network Inference on FPGAs under the guidance of Prof. Nitin Chandrachoodan and in collaboration with KLA Advanced Computing Labs, Chennai. I am also an open-source contributor and have conducted several workshops on FPGAs and embedded microcontrollers.    </p>
    <p>I love to play Basketball and carrom.</p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
