<section class="section other-projects" id="projects">
  <div class="section__title">Projects</div>
  <div class="section__content">
    {% for project in site.data.other-projects %}
    <div class="project">
      <div class="project__name">
        <span style="font-weight: 700; font-size:larger">{{project.name}}</span><a href="{{project.url}}" target="_blank" class="arrow-link"></a>
      </div>
      <p style="font-size: large">{{project.description}}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
