<section class="section experience" id="publications">
    <div class="section__title">Publications</div>
    <div class="section__content">
      <div class="jobs">
        <div class="job">
          <div class="time-place">
            <div class="job__company" style="font-size: larger;">
              When Approximate Computing Meets Graph Neural Networks
            </div>
            <div class="job__time">DAC 2023</div>
          </div>
          <div class="job__position"><strong>Bala Dhinesh</strong>, Nan Wu, Hanran Wu, Yuan Xie and Cong "Callie" Hao</div>
          <div class="job__position">Manuscript under review</div>
          <div class="job__position">If you would like to have a copy of the manuscript, please feel free to ping me at <a href=""maito:baladhinesh@smail.iitm.ac.in>baladhinesh@smail.iitm.ac.in</a></div>
        </div>
      </div>
  
    </div>
  </section>