<div class="switch-wrapper">
  <!-- <a href="#bio" style="padding: 0 10px;">Bio</a>
  <a href="#publications" style="padding: 0 10px;">Publications</a>
  <a href="#vitae" style="padding: 0 10px;">Vitae</a>
  <a href="#skills" style="padding: 0 10px;">Skills</a>
  <a href="#projects" style="padding: 0 10px;">Projects</a>
  <a href="#talks" style="padding: 0 10px;">Talks</a> -->

  <div class="sun"></div>
  <div class="toggle-wrapper">
    <input id="switch" type="checkbox" />
    <label for="switch" id="toggle">Toggle</label>
  </div>
  <div class="moon"></div>
</div>
